*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
	margin:0;
	padding: 0;
}
body *{
    font-family: 'Lato', sans-serif;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
input{
    outline: 0;
    padding-left: 15px;
}
input::-webkit-input-placeholder { /* Must add compability to all browsers */
    font-style: italic;
}

/* ************************ */
/* ~~~~~~~ HEADER ~~~~~~~~~*/
/* ************************ */

header{
	background: transparent;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	line-height: 114px;
}
header.pos-relative{
	position: relative;
	color: #3c3c3c;
}
header.pos-relative .wrapper *{
	color: #3c3c3c;
}
header.pos-relative .wrapper{
	border-bottom: 1px solid #e5e5e5;
}
header.pos-relative .wrapper a.logo {
	background: #000;
	color: #fff;
}
header.pos-relative .wrapper aside .search a.submit i{
	color: #3c3c3c;
}
header .wrapper *{
	color: #eee;
	font-size: 16px;
}
header .wrapper a.logo {
	display: block;
	width: 42px;
	height: 42px;
	float: left;
	line-height: 42px;
	text-align: center;
	background: #FFF;
	color: #000;
	position:relative;
	top: 35px;
	text-decoration: none;
}
header .wrapper nav {
	float: left;
}
header .wrapper nav ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
header .wrapper nav ul li {
	float: left;
	font-size: 14px;
	margin: 0 0 0 50px;
	padding: 0;
	list-style-type: none;
}
header .wrapper nav ul li a{
	text-decoration: none;
}
header .wrapper aside {
	float: right;
	overflow: hidden;
}
header .wrapper aside .users {
	float: left;
}
header .users ul li {
	list-style-type: none;
	padding: 0;
	margin: 0px 40px 0px 0;
    position: relative;
    bottom: -4px;
	float: left;
}
header .users ul li a[href*="login"] i, header .users ul li a[href*="cart"] i{
	width: 20px;
}
header .wrapper aside .search {
	float: left;
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	position: relative;
    top: 40px;
	overflow: hidden;
	transition:all .5s ease-in;
}
header .wrapper aside .search:hover {
	width: 260px;
    transition:all .35s ease-in;
}
header .wrapper aside .search:hover input {
	width: 260px;
}
header .wrapper aside .search a.submit i{
	color: white;
	text-align: center;
	margin: 0 auto;
	font-size: 17px;
	position: relative;
	top: -38px;
	left: 12px;
	display: inline-block;
} 
header .wrapper aside .search a.submit {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	float: right;
}
header .wrapper aside .search input {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	border: 0;
	line-height: 40px;
	background: none;
	color: white;
}
header .wrapper aside .search input:focus {
	/*width: 260px;*/

}
header .wrapper aside .search input::-webkit-input-placeholder,
header .wrapper aside .search input{
	font-size: 14px;
	font-weight: 300;
	color: white;
}

/* ************************ */
/* ~~~~~~~ HERO ~~~~~~~~~*/
/* ************************ */
.hero {
    position: relative;
	height: 617px;
	width: 100%;
	text-align: center;
	 background-image: -webkit-gradient(
		linear,
		right top,
		left bottom,
		color-stop(0, #000000),
		color-stop(0, #2EE8E8),
		color-stop(1, #335454),
		color-stop(1, #33423F),
		color-stop(1, #407878),
		color-stop(1, #2BC4C4)
	);
	
	background-image: -o-linear-gradient(left bottom, #000000 0%, #2EE8E8 0%, #335454 100%, #33423F 100%, #407878 100%, #2BC4C4 100%);
	background-image: -moz-linear-gradient(left bottom, #000000 0%, #2EE8E8 0%, #335454 100%, #33423F 100%, #407878 100%, #2BC4C4 100%);
	background-image: -webkit-linear-gradient(left bottom, #000000 0%, #2EE8E8 0%, #335454 100%, #33423F 100%, #407878 100%, #2BC4C4 100%);
	background-image: -ms-linear-gradient(left bottom, #000000 0%, #2EE8E8 0%, #335454 100%, #33423F 100%, #407878 100%, #2BC4C4 100%);
	background-image: linear-gradient(to left bottom, #000000 0%, #2EE8E8 0%, #335454 100%, #33423F 100%, #407878 100%, #2BC4C4 100%); 
}

.hero h1, .hero h2 {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
.hero h1 {
	font-size: 72px;
	margin-bottom: 35px;
	font-weight: 300;
	text-transform: uppercase;
	color: #FFF;
}
.hero h2 {
	font-size: 24px;
	margin-bottom: 30px;
	font-family: georgia;
	font-style: italic;
	color: #FFF;
	font-weight: 300;
}
.hero .prev, .hero .next {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hero article {
	top: 50%;
	-webkit-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-o-transform: translateY(-60%);
	-ms-transform: translateY(-60%);

    transform: translateY(-60%);
	position: relative;
}
.hero .btn {
	position: relative;
	top: 80px;
}
.hero ul {
	width: 100%;
	position: absolute;
	bottom: 30px;
	left: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}
.hero ul li {
	display: inline-block;
}
.hero ul li a {
	width: 14px;
	height: 14px;
	border: 1px solid rgba(255,255,255,0.6);
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}
.hero ul li a:hover {
	background: #FFF;
	border-color: #FFF;
}
.hero ul li a.selected {
	background: #FFF;
	border-color: #FFF;
}


ul.list{
	text-align: center;
}
ul.list li{
	display: inline-block;
}
ul.list li a{
	display: block;
	text-align: center;
	overflow: hidden;
}

ul.list.page{
	padding: 65px 0;
}
ul.list.page li{
	margin-right: 2px;
}
ul.list.page li a{
	width: 25px;
	height: 25px;
	border: 1px solid #606060;
	font-size: 12px;
	font-family: "Lato";
	color: #fff;
	padding-top: 3px;
	background-color: #303030;

}
ul.list.page li a.selected{
	color: #8a8a8a;
	background-color: #fff;
}


.gallery{
    width: 100%;
    background-color: #2D3A37;
    padding: 32px 0;
}
.gallery .wrapper section article{
    float: left;
    height: 295px;
    width: 295px;
    background-color: #bbb;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
}
.gallery .wrapper section article div{
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.gallery .wrapper section article h1, 
.gallery .wrapper section article h2, 
.gallery .wrapper section article i, 
.gallery .wrapper section article p{
    margin: 0 auto;
    width: 80%;
}
.gallery .wrapper section article:first-child,
.gallery .wrapper section article:nth-child(7){
    height: 590px;
    background-color: #d2d2d2;
}
.gallery .wrapper section article:nth-child(7){
    float: right;
}
/* basic-box */
.gallery .basic-box h1{
	width: 55%;
	font-size: 24px;
    line-height: 30px;
	text-transform: uppercase;
}
.gallery .basic-box h2{
	text-transform: uppercase;
    font-family: "Georgia";
	font-size: 20px;
    font-style: italic;
    line-height: 30px;
    font-weight: 300;
}
/* twitter-box */
.gallery .wrapper section article.twitter-box{
    background-color: gray;
}
.gallery .wrapper section article.twitter-box i{
    font-size: 32px;
    overflow: hidden;
    text-align: center;
}
.gallery .wrapper section article.twitter-box span {
    display: block;
    width: 100%;
    line-height: 32px;
    position: relative;
}
.gallery .twitter-box span:before,
.gallery .twitter-box span:after{
    content:"";
    width: 20px;
    height: 2px;
    background: white;
    position: absolute;
    top: 15px;
    vertical-align: middle;
}
.gallery .twitter-box span:after{
    right: 100px;
}
.gallery .twitter-box span:before{
    left: 100px;
}
.gallery .twitter-box h1{
    color: #e1e1e1;
}
.gallery .twitter-box h1, 
.gallery .twitter-box h2{
    font-family: "Georgia";
	font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 15px;
}





.newsletter{
    height: 457px;
    padding: 145px 0;
    width: 100%;
    text-align: center;
    position: relative;
}
.newsletter h1{
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}
.newsletter h2{
    font-size: 18px;
    font-family: "Georgia";
    font-style: italic;
    font-weight: 400;
    color: #606060;
    margin-bottom: 57px;
}
.newsletter div{
    width: 570px;
    height: 60px;
    margin: 0 auto;
}
.newsletter div input, .newsletter div a.submit{
    line-height: 55px;
    float: left;
}
.newsletter div input{
    width: 475px;
    padding-left: 15px;
    font-size: 15px;
}
.newsletter div a.submit{
    display: block;
    background: #f68236;
    padding-bottom: 4px;
    width: 95px;
    font-weight: 300;
}
.newsletter div a{
	color: white;
}
.newsletter div input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #606060;
    font-style: italic;
}






.slider{
    width: 100%;
}
.slider .wrapper{
    position: relative;
}
.slider .wrapper div{
    background-color: #bbb;
    height: 120px;
}




.link-hierarchy{
	margin-bottom: 80px;
}
.link-hierarchy ul li{
	float: left;
	margin-top: 20px;
	margin-right: 15px;
}
.link-hierarchy *{
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Lato";
	color: #606060;
}
.link-hierarchy ul li:after{
	content: '/';
	margin-left: 15px;
}
.link-hierarchy ul li:last-child::after {
	content: '';
}






.gallery-images{
    padding: 60px 0 100px 0;
}
.gallery-images article{
	display: inline-block;
	margin-right: 110px;
}
.gallery-images article:last-child{
    margin: 0;
}
.gallery-images article img{
	width: 207px;
	height: 256px;
}
.gallery-images article h1,
.gallery-images article h2{
	margin: 0 auto;
	font-size: 14px;
	font-family: "Lato";
	color: #303030;
	font-weight: bold;
}
.gallery-images article h1{
	margin-top: 20px;
	font-size: 14px;
	font-family: "Lato";
	color: #303030;
	text-align: center;
}
.gallery-images article h2{
	font-weight: 400;
	margin-top: 5px;
	text-align: center;
}





.title-subtitle{
    padding: 20px 0;
}
.title-subtitle h1{
    width: 80%;	
	margin: 0 auto;
	text-align: center;
	font-size: 36px;
	font-family: "Lato";
	color: #303030;
	font-weight: bold;
	text-transform: uppercase;
}
.title-subtitle h2{
	font-size: 18px;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	font-style: italic;
	font-family: 'Georgia';
	font-weight: 400;
	color: #606060;
	position: relative;	
}
.title-subtitle a{
    font-size: 18px;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	font-style: italic;
	font-family: 'Georgia';
	color: #606060;
	border-bottom: 2px solid #d7d7d7;
	position: relative;
}
.title-subtitle a:after{
    content: '\f0da';
	font-family: FontAwesome;
	font-style: normal;
	position: absolute;
	right: -12px;
	top: 8px;
	font-size: 12px;
}





.title-basic h1{
	font-size: 24px;
	font-family: "Georgia";
	color: #606060;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	line-height: 1.125;
}
.title-basic .wrapper{
    padding: 60px 0;
    border-top: 1px solid #e5e5e5;
}




.products-men .gallery-images{
	padding-bottom: 40px;
}



footer{
	height: 255px;
	line-height: 114px;
}
footer *{
	color: #303030;
}
footer a:hover{
	text-decoration: underline;
}
footer .collection, footer .shop, footer .site, footer aside{
	display: block;
	float: left;
	width: 25%;
}
footer h1{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
footer p{
	font-size: 12px;
	font-family: "Lato";
	line-height: 22px;
}
footer ul{
	display: block;
	font-size: 12px;
	font-family: "Lato";
	line-height: 22px;
	margin-top: -30px;
	position: relative;
}
footer .wrapper{
	position: relative;
}
footer article>ul:after{
	content: '';
	position: absolute;
	top: -45px;
	right: 20px;
	height: 162px;
	border: 1px solid #eaeaea;
	border-left: 0;
}
footer aside ul li p{
	background-color: green;
	width: 100%;
}
footer aside ul.social{
	position: absolute;
	bottom: 15px;
}
footer aside ul.social li{
    display: inline-block;
}
footer aside ul.social li a{
	width: 31px;
	line-height: 31px;
    display: block;
	border: 1px solid #606060;
	margin-right: 10px;
	text-align: center;
}
footer aside ul.social li a i{
	position: relative;
	top: 2px;
	font-size: 16px;
	color: #606060;
}

/* REUSABLES ~~~~~~~~~~~~~~ */

/* BUTTONS */
.btn{
	padding: 0 20px;
	display: inline-block;
	line-height: 60px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid #ddd;
	color: #FFF;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	text-align: center;
	transform: translate(0, 0);
	transition: all .2s ease;
	overflow:hidden;
	box-shadow: 0px 6px 4px rgba(48, 48, 48, 0.35);
}
.btn:hover{
	transform: translate(0, 3px);
	box-shadow: 0px 2px 10px rgba(48, 48, 48, 0.35);
}


/* WRAPPER */
.wrapper {
	width: 1180px;
	margin:0 auto;
	overflow: hidden;
}


/* PREV AND NEXT BUTTONS */
.prev, .next{
	width: 40px;
	line-height: 120px;
	color: white;
	background-color: transparent;
	position: absolute;
	top: 0;
	text-align: center;
	font-size: 35px;
}
.prev{
	left: 0;
}
.next{
	right: 0;
}

/* Dropdown */
.dropdown *{
	font-size: 16px;
	font-family: "Georgia";
	font-style: italic;
	color: #606060;
}
.dropdown {
    position: relative;
	padding-right: 15px;
	display: inline-block;
	left: 50%;
	transform: translateX(-150%);
	margin: 70px 0 20px 0;
}
.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    width: 180px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown button{
	margin-right: 20px;
    background: transparent;
    border: none;
    width: 180px;
    padding-left: 3px;
    border-bottom: 1px solid #3c3c3c;
	text-align: left;
	position: relative;
	cursor: pointer;
}
.dropdown button:after{
	content: '\f0d7';
	font-family: FontAwesome;
	font-style: normal;
	position: absolute;
	right: 6px;
	top: 1px;
	color: #3c3c3c;
	font-size: 18px;
}
.dropdown button:last-of-type{
	margin-right: 0;
}
.dropdown a {
    display: block;
    text-decoration: none;
	background-color: white;
	padding: 10px 0 10px 12px;
}
.dropdown a:hover {
    background: #BBBBBB;
}

.Price {
  font-size: 14px;
  font-family: "Georgia";
  color: rgb(96, 96, 96);
  font-style: italic;
  line-height: 2.571;
  text-align: left;
  position: absolute;
  left: 493.305px;
  top: 411.003px;
  z-index: 160;
}

















